/* static/style.css */
/* Your existing CSS */
.container {
    text-align: center;
}

h1 {
    color: #ffbb57; /* Warm yellow */
    font-size: 2em;
    margin-bottom: 20px;
}


form {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f9f5e8;
    border: 2px solid;
    
}


.ran-num{
        background-image: linear-gradient(to right, #3A1C71 0%, #D76D77  51%, #3A1C71  100%);
        margin:auto; 
        padding: 25px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        width: auto;
        font-size: 20px;
    }
    

.ran-num:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: solid;
  }
 

.result {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: wheat;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(111,111,219,1) 0%, rgba(182,109,246,1) 72.4% );
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: px;
    box-sizing: border-box;
    flex: 1;
}

header, footer {
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(132,81,161,1) 0%, rgba(132,81,161,0.83) 90% );
}

.bg{
background-size: cover;
background-position: center;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
align-items: center;
justify-content: center;
}

h1 {
font-size: 3em;
margin-bottom: 20px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
list-style: none;
padding: 0;
text-align: center;
}

li {
margin: 15px;
}

a {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    text-decoration:solid;
    width: 100px;
    font-size: x-large;
}


a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
#fun-fact-title{
    color: whitesmoke;
}



label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    color: #f9f5e8; /* Light cream */
    font-size: 1.2em;
}

#num-facts-input {
    width: auto;
    display: block;
    margin: 0 auto; /* Align input to center */
    text-align: center;
}

/* Styles for the get-fun-fact-btn */
#get-fun-fact-btn {
    text-align: center;
    display: block;
    width: auto;
    margin: 10px auto; /* Align button to center */
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
        background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;          
        box-shadow: 0 0 10px #eee;
        border-radius: 10px;

      }
      #get-fun-fact-btn:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     

      

.fact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.text-container,
.image-container {
    flex: 1;
    margin: 0 70px; /* Add margin to create space */
}

.odd .text-container,
.even .image-container {
    order: 2;

   
}


.odd .image-container,
.even .text-container {
    order: 1;

}  


.text-container p {
    margin: 0;
    padding: 10px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    padding: 20px;
    border-radius: 20px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-container img {
    height: 275px;
    width: 375px;
}

#meme-container {
    text-align: center;
    margin-top: 20px;
}

#meme-container img {
    width: 620px;
    height: 570px;
}
.meme-quote{
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align:justify;
    max-width: 350px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container button {
    margin-right: 10px;
}

#get-meme-btn,#prev-meme-btn{
    display: block;
    margin: 20px;
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 5px;
        width:auto;
      }

      #get-meme-btn:hover,    
      #prev-meme-btn:hover{
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
      
     
      .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    