/* static/style.css */
.container {
    text-align: center;
}

h1 {
    color: #ffbb57; /* Warm yellow */
    font-size: 2em;
    margin-bottom: 20px;
}

form, .result {
    background-color: #ff847c; /* Coral pink */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #f9f5e8; /* Light cream */
    font-size: 1.2em;
}

input, .result {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f9f5e8;
    border: 1px solid #ff847c; 
    color: #494848; /* Charcoal gray */
}

button {
    background-color: #190E4F;
    color: #f9f5e8; /* Light cream */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

button:hover {
    background-color: #ff5e62; /* Salmon pink */
}

.result {
    margin-top: 10px;
    font-size: 1.5em;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: 10px;
    box-sizing: border-box;
}

header, footer {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,79,121,1) 48%, rgba(0,212,255,1) 100%);
}

main {
    flex: 1;
}

/* Styling for the num-facts-input */
#num-facts-input {
    width: auto;
    text-align: center;
}

/* Styles for the fun-fact-container */
.fun-fact-container {
    text-align: center;
    background: rgb(73,218,132);
    background: linear-gradient(90deg, rgba(73,218,132,1) 0%, rgba(102,101,241,1) 100%);
    padding: 20px;
    border-radius: 10px;
}

/* Styles for the fun-fact-title */
#fun-fact-title {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(182, 11, 156, 0.3);
    
}

/* Styles for the fun-fact-text-container */
#fun-fact-text-container {
    border: 2px solid #0c96f1; /* Azure blue */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(172, 9, 9, 0.1);
    background-color:#ffd51c; 
    text-align: center;
    margin: 15px 0;
    color:#333333;
    font-size: larger;
}

/* Styles for the get-fun-fact-btn */
#get-fun-fact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #564d80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

#get-fun-fact-btn:hover {
    background-color: #2980b9; /* Azure blue */
}

/* Styles for the home-btn */
.home-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #27ae60; /* Nephritis green */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
}

.home-btn:hover {
    background-color: #229954; /* Jungle green */
}

/* Add this CSS to your styles */
#meme-container {
    text-align: center;
    margin-top: 20px;
}

#meme-container img {
    max-width: 110%;
    height: 650px;
}

#get-meme-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; /* Dodger blue */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: fit-content;
    cursor: pointer;

    &:hover {
        background-color: #2980b9; /* Azure blue */
    }
}

.bg {
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 15px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db; /* Dodger blue */
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9; /* Azure blue */
}
