{% extends 'base.html' %}

{% block title %}Fun Fact Generator{% endblock %}

{% block content %}

<h2 id="fun-fact-title">Fun Fact Generator</h2>
<label for="num-facts-input">Number of Fun Facts (MAX 50):</label>
<input type="number" id="num-facts-input" value="3" min="1" max="10">
<button id="get-fun-fact-btn">Get Fun Facts</button><br><br><br>

<div class="fun-fact-container" id="fun-fact-container">
    
</div>

<a href="{{ url_for('home_page') }}" class="home-btn">Home</a>
<script src="{{ url_for('static', filename='js/funfact.js') }}"></script>

{% endblock %}
