<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head> 
<body>
    <h1 class="welcome-heading">WELCOME TO RANDOM GENERATOR</h1>

    <main class="container">
        <div class="service-column">
            <h1>Random Number Generator</h1>
            <h3>Get a random number within a specified range.</h3>
            <a href="{{ url_for('random_number_generator') }}" class="btn">Generate Number</a>
        </div>

        <div class="service-column">
            <h1>Fun Fact Generator</h1>
            <h3>Discover interesting facts to brighten your day.</h3>
            <a href="{{ url_for('fun_fact_generator') }}" class="btn">Get Fun Fact</a>
        </div>

        <div class="service-column">
            <h1>Meme Generator</h1>
            <h3>Laugh at memes from the world of technology.</h3>
            <a href="{{ url_for('meme_generator') }}" class="btn">View Meme</a>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
