<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a  href="{{ url_for('register') }}" >Register</a></p>
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
  <script> var homePageUrl = "{{ url_for('home_page') }}";</script>
  <script src="/static/js/login.js"></script>
</body>
</html>