{% extends 'base.html' %}

{% block title %}Meme Generator{% endblock %}

{% block content %}
    <h2 id="fun-fact-title">Meme Generator</h2>

    <!-- Table structure with left and right text and meme image in the center -->
    <table style="border: 0; width: 100%;">
        <tr>
            <td class="meme-quote"style="text-align: center;">"Memes are a way to express oneself, and computer science memes are a way for programmers to express their love for coding, technology, and the occasional bug."
            <br><br>
            </td>
            <td style="text-align: center;">
                <!-- Display the randomly selected meme -->
                <div class="meme-container" id="meme-container">
                    <img src="{{ meme['src'] }}" alt="Random Meme" class="meme-image">
                </div>
            </td>
            <td class="meme-quote"style="text-align: center;"> "Computer science memes are the ultimate form of geek humor. They're a way to celebrate the quirks and eccentricities of programming, and to revel in the joy of solving complex problems."</td>
        </tr>
    </table>

    <div class="button-container">
        <button id="prev-meme-btn">Previous Meme</button>
        <button id="get-meme-btn">Next Meme</button>
    </div>


    <a href="{{ url_for('home_page') }}" class="home-btn">Home</a>
   
<script src="{{ url_for('static', filename='js/meme.js') }}">
</script>

{% endblock %}
